{% extends "base.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h1 class="h4 m-0">Профиль пользователя</h1>
            </div>
            <div class="card-body">
                <dl class="row mb-0">
                    <dt class="col-sm-4">Логин</dt>
                    <dd class="col-sm-8">{{ user.username }}</dd>

                    <dt class="col-sm-4">Email</dt>
                    <dd class="col-sm-8">{{ user.email|default:"Не указан" }}</dd>

                    <dt class="col-sm-4">Имя</dt>
                    <dd class="col-sm-8">{{ user.first_name|default:"Не указано" }}</dd>

                    <dt class="col-sm-4">Фамилия</dt>
                    <dd class="col-sm-8">{{ user.last_name|default:"Не указана" }}</dd>

                    <dt class="col-sm-4">Дата регистрации</dt>
                    <dd class="col-sm-8">{{ user.date_joined|date:"d.m.Y H:i" }}</dd>

                    <dt class="col-sm-4">Последний вход</dt>
                    <dd class="col-sm-8">{{ user.last_login|date:"d.m.Y H:i"|default:"Нет данных" }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}
